n8n/whatsapp-notify.skeleton.json
{
  "name": "WhatsApp inbound notify",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "whatsapp-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1111111-1111-1111-1111-111111111111",
      "name": "Webhook verify (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 120],
      "webhookId": "whatsapp-inbound-verify"
    },
    {
      "parameters": {
        "jsCode": "// Meta calls this once with hub.* query params to verify the callback URL.\nconst q = $input.first().json.query || {};\nconst expected = $env.WHATSAPP_VERIFY_TOKEN;\nif (!expected) { throw new Error('WHATSAPP_VERIFY_TOKEN not readable (set it in n8n env + N8N_BLOCK_ENV_ACCESS_IN_NODE=false, then redeploy)'); }\nconst valid = q['hub.mode'] === 'subscribe' && q['hub.verify_token'] === expected;\nreturn [{ json: { valid: valid, challenge: q['hub.challenge'] || '' } }];"
      },
      "id": "a2222222-2222-2222-2222-222222222222",
      "name": "Check verify token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 120]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-verify",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a3333333-3333-3333-3333-333333333333",
      "name": "Token valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 120]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.challenge }}",
        "options": { "responseCode": 200 }
      },
      "id": "a4444444-4444-4444-4444-444444444444",
      "name": "Respond challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 40]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "forbidden",
        "options": { "responseCode": 403 }
      },
      "id": "a5555555-5555-5555-5555-555555555555",
      "name": "Respond 403",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-inbound",
        "responseMode": "responseNode",
        "options": { "rawBody": true }
      },
      "id": "b1111111-1111-1111-1111-111111111111",
      "name": "Webhook messages (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 460],
      "webhookId": "whatsapp-inbound-messages"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n// Meta signs the POST body with the APP SECRET (header x-hub-signature-256: sha256=...).\nconst secret = $env.WHATSAPP_APP_SECRET;\nif (!secret) { throw new Error('WHATSAPP_APP_SECRET not readable (set it in n8n env + N8N_BLOCK_ENV_ACCESS_IN_NODE=false, then redeploy)'); }\nconst item = $input.first();\n// Raw Body is enabled, so HMAC the exact bytes Meta signed, not a re-stringified JSON.\nconst raw = Buffer.from(item.binary.data.data, 'base64').toString('utf8');\nconst headers = item.json.headers || {};\nconst got = (headers['x-hub-signature-256'] || '').replace('sha256=', '');\nconst expected = crypto.createHmac('sha256', secret).update(raw).digest('hex');\nlet valid = false;\ntry {\n  const a = Buffer.from(got);\n  const b = Buffer.from(expected);\n  valid = a.length === b.length && crypto.timingSafeEqual(a, b);\n} catch (e) { valid = false; }\nconst data = JSON.parse(raw);\nreturn [{ json: Object.assign({ valid: valid }, data) }];"
      },
      "id": "b2222222-2222-2222-2222-222222222222",
      "name": "Verify signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 460]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-sig",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b3333333-3333-3333-3333-333333333333",
      "name": "Signature valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 460]
    },
    {
      "parameters": {
        "jsCode": "// Pull the first inbound message out of Meta's nested payload. Status callbacks\n// (delivered/read) have no 'messages' array -> hasMessage:false (we ignore them).\nconst v = (((($json.entry || [])[0] || {}).changes || [])[0] || {}).value || {};\nconst messages = v.messages || [];\nconst contacts = v.contacts || [];\nif (!messages.length) { return [{ json: { hasMessage: false } }]; }\nconst m = messages[0];\nconst c = contacts[0] || {};\nlet text = '';\nif (m.type === 'text') { text = (m.text || {}).body || ''; } else { text = '[' + m.type + ']'; }\n// Template params reject newlines / long runs of whitespace -> collapse + cap length.\ntext = text.replace(/\\s+/g, ' ').trim().slice(0, 900);\nreturn [{ json: { hasMessage: true, fromNumber: m.from || '', fromName: ((c.profile || {}).name) || 'Desconocido', text: text, type: m.type, messageId: m.id || '', timestamp: m.timestamp || '' } }];"
      },
      "id": "b4444444-4444-4444-4444-444444444444",
      "name": "Extract message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 460]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-msg",
              "leftValue": "={{ $json.hasMessage }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b5555555-5555-5555-5555-555555555555",
      "name": "Has message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.WHATSAPP_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $env.WHATSAPP_NOTIFY_TO, type: 'template', template: { name: $env.WHATSAPP_TEMPLATE_NAME, language: { code: $env.WHATSAPP_TEMPLATE_LANG || 'es' }, components: [ { type: 'body', parameters: [ { type: 'text', text: $json.fromName }, { type: 'text', text: $json.fromNumber }, { type: 'text', text: $json.text } ] } ] } }) }}",
        "options": {}
      },
      "id": "b6666666-6666-6666-6666-666666666666",
      "name": "Notify primary (WhatsApp template)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 380],
      "notesInFlow": true,
      "notes": "Sends an approved utility template to WHATSAPP_NOTIFY_TO. The template must have 3 body vars: {{1}}=name, {{2}}=number, {{3}}=message."
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "EVENT_RECEIVED",
        "options": { "responseCode": 200 }
      },
      "id": "b7777777-7777-7777-7777-777777777777",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 380]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "EVENT_RECEIVED",
        "options": { "responseCode": 200 }
      },
      "id": "b8888888-8888-8888-8888-888888888888",
      "name": "Respond 200 (ignored)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 560]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "invalid signature",
        "options": { "responseCode": 401 }
      },
      "id": "b9999999-9999-9999-9999-999999999999",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 620]
    }
  ],
  "connections": {
    "Webhook verify (GET)": {
      "main": [[{ "node": "Check verify token", "type": "main", "index": 0 }]]
    },
    "Check verify token": {
      "main": [[{ "node": "Token valid?", "type": "main", "index": 0 }]]
    },
    "Token valid?": {
      "main": [
        [{ "node": "Respond challenge", "type": "main", "index": 0 }],
        [{ "node": "Respond 403", "type": "main", "index": 0 }]
      ]
    },
    "Webhook messages (POST)": {
      "main": [[{ "node": "Verify signature", "type": "main", "index": 0 }]]
    },
    "Verify signature": {
      "main": [[{ "node": "Signature valid?", "type": "main", "index": 0 }]]
    },
    "Signature valid?": {
      "main": [
        [{ "node": "Extract message", "type": "main", "index": 0 }],
        [{ "node": "Respond 401", "type": "main", "index": 0 }]
      ]
    },
    "Extract message": {
      "main": [[{ "node": "Has message?", "type": "main", "index": 0 }]]
    },
    "Has message?": {
      "main": [
        [{ "node": "Notify primary (WhatsApp template)", "type": "main", "index": 0 }],
        [{ "node": "Respond 200 (ignored)", "type": "main", "index": 0 }]
      ]
    },
    "Notify primary (WhatsApp template)": {
      "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
